// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$red: #d37171;
$darkRed: #b0273c;
$hoverRed: #801c2c;
$white: #fff;
$darkGray: #3f3e3e;
$gray: #878787;
