// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Variables
@import './partials/mixins';
@import './partials/typography';
@import 'variables';
@import 'elements/base';
@import 'elements/chat-box';
@import 'elements/home';
@import 'elements/guest';
