.home, .settings_page {

    .top_section {
        background: url('/images/home-top-bg.jpg') no-repeat;
        background-size: 100% 100%;
        background-position: center 15%;
        min-height: 800px;

        @media all and (max-width: 992px) {
            min-height: 700px;
        }

        @media all and (max-width: 768px) {
            min-height: 650px;
        }

        @media all and (max-width: 550px) {
            min-height: 550px;
        }

        header {
            padding: 20px 0;

            .my_row {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                justify-content: space-between;
                -webkit-justify-content: space-between;
                align-items: center;
                -webkit-align-items: center;

                img {
                    max-width: 300px;

                    @media all and (max-width: 550px) {
                        max-width: 200px;
                    }
                }
            }
        }

        .heading_section {
            text-align: center;

            h2 {
                font-size: 48px;
                padding: 0 6%;
                margin-top: 12%;

                @media screen and (max-width: 992px) {
                    font-size: 38px;
                    margin-top: 8%;
                }

                @media all and (max-width: 768px) {
                    font-size: 32px;
                    margin-top: 8%;
                }

                @media all and (max-width: 550px) {
                    font-size: 24px;
                }

                span {
                    color: $darkRed;
                }
            }

            a {
                display: inline-block;
                margin: 60px 0;

                @media all and (max-width: 768px) {
                    margin: 40px 0;
                }

                @media all and (max-width: 550px) {
                    margin: 30px 0;
                }

                img {
                    width: 40px;

                    @media all and (max-width: 550px) {
                        width: 30px;
                    }
                }
            }

        }
    }

    .my_row.overlap {
        margin-top: -200px;
    }

    .two_column_section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;

        @media all and (max-width: 550px) {
            flex-wrap: wrap;
            -ms-flex-wrap: wrap;
        }

        &.swap_mobile {
            flex-wrap: wrap-reverse;
            -ms-flex-wrap: wrap-reverse;
        }

        .column {
            width: 50%;

            @media all and (max-width: 768px) {
                margin-bottom: 20px;
            }

            @media all and (max-width: 550px) {
                width: 100%;
            }

            &:first-child {
                padding-right: 20px;

                @media all and (max-width: 550px) {
                    padding: 0;
                }
            }

            &:last-child {
                padding-left: 20px;

                @media all and (max-width: 550px) {
                    padding: 0;
                }
            }

            h3 {
                font-size: 34px;
                margin-bottom: 10px;

                @media all and (max-width: 992px) {
                    font-size: 28px;
                }

                @media all and (max-width: 992px) {
                    font-size: 22px;
                }

                span {
                    color: $darkRed;
                }
            }

            p {
                line-height: 2;

                @media all and (max-width: 992px) {
                    font-size: 14px;
                }

                @media all and (max-width: 768px) {
                    font-size: 12px;
                }
            }

            img {
                @media all and (max-width: 550px) {
                    padding: 0 10%;
                }
            }
        }
    }

    footer {
        padding: 50px 0;
        margin-top: 120px;
        border-top: 1px solid #9c9c9c;

        p {
            font-size: 12px;
            color: #9c9c9c;
        }
    }

}
