.custom_four {
    height: 100%;

    .messenger {

        .messenger-messagingView {
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            background: #fafaff;
        }
    }

    .m-header {

        a {
            display: inline-flex;
            align-items: center;

            svg {
                width: 1em;
            }
        }
    }

    .messenger-listView {
        background: #fff;
        border: 1px solid #eee;
    }

    .contacts-container {

        .messenger-tab .avatar.av-m svg {
            width: 15px;
            margin: 0 auto;
        }
    }

    .messages-container {
        justify-content: flex-start;

        .typing-indicator {
            margin-top: auto;
        }

        .message-card {

            &.empty p {
                padding: 0px 10px 10px;
            }

            .image-file {
                width: auto;
                max-width: 400px;
                height: auto;
            }
        }



        .messenger-sendCard {
            display: block;
            background: $white;

            svg {
                width: 20px;
            }
        }

        #first_message, #second_message, #third_message {
            display: none;
            position: relative;
        }
    }

    .messenger-infoView {
        background: #fff;
        border: 1px solid #eee;

        a {
            margin-left: 10px;
            display: inline-flex;

            svg {
                width: 12px;
            }
        }

        .messenger-infoView-btns {

            a {
                margin: 0;

                svg {
                    margin-right: 5px;
                }
            }
        }

        .messenger-infoView-shared {
            display: block;
        }
    }

    .form_wrap.register {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 998;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.6);
        padding: 20px;
    }

    #register_form {
        display: none;
        position: absolute;
        top: 60px;
        left: 20px;
        background: $white;
        width: 400px;
        z-index: 999;
        padding: 20px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;

        h2 {
            font-size: 24px;
            text-align: center;
        }


        .button.red {
            width: 100%;
            display: block;
            max-width: unset;
            margin: 0;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
        }
    }
}
